local=/{{ clustername }}.{{ basedomain }}/
{% for i in range(3) %}
srv-host=_etcd-server-ssl._tcp.{{ clustername }}.{{ basedomain }},etcd-{{ i }}.{{ clustername }}.{{ basedomain }},2380,0,10
{% endfor %}
no-hosts
address=/apps.{{ clustername }}.{{ basedomain }}/{{ external_kvm_node_ip  }}
addn-hosts=/etc/dnsmasq.{{ clustername }}.addnhosts
