{
  "clustername": "{{ clustername }}",
  "ocpversion": "{{ ocpversion }}",
  "clustertype": "UPI",
  "vmwarenotes": "KVM cluster",
  "n_worker": "{{ n_worker }}",
  "platform": "none",
  "sno": "{{ sno }}"
}
