kind: CronJob
apiVersion: batch/v1
metadata:
  name: ocp-csr-approver
  namespace: ocp-csr-approver
  labels:
    app: ocp-csr-approver
spec:
  schedule: "* * * * *"
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    metadata:
      labels:
        app: ocp-csr-approver
    spec:
      backoffLimit: 0
      template:
        metadata:
          labels:
            app: ocp-csr-approver
        spec:
          containers:
            - name: approver
              image: "registry.redhat.io/openshift4/ose-cli:v{{ ocpversion | regex_replace('(\\d+\\.\\d+).*', '\\1') }}"
              securityContext:
                privileged: true
              command:
                - "/bin/bash"
                - "-c"
                - for csr in $(oc get csr --no-headers | grep -i -v -E "approved" | awk '{print $1}') ; do oc adm certificate approve ${csr} ; done
          restartPolicy: "Never"
          terminationGracePeriodSeconds: 30
          activeDeadlineSeconds: 600
          dnsPolicy: "ClusterFirst"
          serviceAccountName: "ocp-csr-approver"
          serviceAccount: "ocp-csr-approver"