{{ external_kvm_node_ip }} {{ clustername }}-master-0.{{ basedomain }}
{{ external_kvm_node_ip }} api.{{ clustername }}.{{ basedomain }}
{{ external_kvm_node_ip }} api-int.{{ clustername }}.{{ basedomain }}
