global                                                                                    
  log 127.0.0.1 local2   
  chroot /var/lib/haproxy     
  pidfile /var/run/haproxy.pid
  maxconn 4000 
  user haproxy               
  group haproxy            
  daemon                             
  stats socket /var/lib/haproxy/stats                                 
                                                                      
defaults                                                
  mode tcp                                              
  log global                                            
  option tcplog                                                       
  option dontlognull                                                  
  option redispatch            
  option forwardfor 
  retries 3                  
  timeout queue 1m           
  timeout connect 10s
  timeout client 1m                                     
  timeout server 1m                                      
  timeout check 10s                                      
  maxconn 3000                                                                            

listen stats 
    bind {{ external_kvm_ip }}:1936
    mode http
    stats enable
    stats hide-version
    stats refresh 30s
    stats show-node
    stats uri  /

# 6443 points to control plan
frontend api 
  bind {{ external_kvm_ip }}:6443
  default_backend master-api
backend master-api
  balance source
  server master-0 {{ external_kvm_master0_ip }}:6443 check

# 80 points to master nodes
frontend http 
  bind {{ external_kvm_ip }}:80
  default_backend ingress-http
backend ingress-http
  balance source
  server master-0 {{ external_kvm_master0_ip }}:80 check

# 443 points to master nodes
frontend https
  bind {{ external_kvm_ip }}:443
  default_backend infra-https
  option httplog
  option http-server-close
  option forwardfor
backend infra-https
  balance source
  server master-0 {{ external_kvm_master0_ip }}:443 check
