apiVersion: v1
bootstrapInPlace:
  installationDisk: /dev/vda
baseDomain: {{ basedomain }}
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  replicas: 0
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
{%- if sno == "true" +%}
  replicas: 1
{%- else +%}
  replicas: 3
{%- endif +%}
metadata:
  creationTimestamp: null
  name: "{{ clustername }}"
networking:
  networkType: OVNKubernetes
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none: {}
publish: External
pullSecret: {{ pullsecret }}
sshKey: |
  {{ ssh_rsa }}
{%- if local_quay_registry != "" +%}
imageContentSources:
  - mirrors:
    - {{ local_quay_registry }}/ocp4/migration-toolkit-virtualization
    source: registry.redhat.io/migration-toolkit-virtualization
  - mirrors:
    - {{ local_quay_registry }}/ocp4/container-native-virtualization
    source: registry.redhat.io/container-native-virtualization
  - mirrors:
    - {{ local_quay_registry }}/ocp4/rhel9
    source: registry.redhat.io/rhel9
  - mirrors:
    - {{ local_quay_registry }}/ocp4/rhel8
    source: registry.redhat.io/rhel8
  - mirrors:
    - {{ local_quay_registry }}/ocp4/odf4
    source: registry.redhat.io/odf4
  - mirrors:
    - {{ local_quay_registry }}/ocp4/openshift4
    source: registry.redhat.io/openshift4
  - mirrors:
    - {{ local_quay_registry }}/ocp4/rhceph
    source: registry.redhat.io/rhceph
  - mirrors:
    - {{ local_quay_registry }}/ocp4/openshift/release
    source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
  - mirrors:
    - {{ local_quay_registry }}/ocp4/openshift/release-images
    source: quay.io/openshift-release-dev/ocp-release
{%- endif +%}