apiVersion: v1
bootstrapInPlace:
  installationDisk: /dev/vda
baseDomain: {{ basedomain }}
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  replicas: 0
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  replicas: 1
metadata:
  creationTimestamp: null
  name: "{{ clustername }}"
networking:
  networkType: OVNKubernetes
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none: {}
publish: External
pullSecret: {{ pullsecret }}
sshKey: |
  {{ ssh_rsa }}
