<network>
  <name>{{ ocp_network_name }}</name>
  <forward mode='nat'/>
  <bridge name='virbr-{{ clustername[:8] }}' stp='on' delay='0'/>
  <domain name='{{ clustername }}.{{ basedomain }}' localOnly='yes'/>
  <dns enable='yes'/>
  <ip address='{{ cluster_network_base }}.1' netmask='255.255.255.0'>
    <dhcp>
      <range start='{{ cluster_network_base }}.100' end='{{ cluster_network_base }}.250'/>
    </dhcp>
  </ip>
</network>
