<network>
  <name>{{ ocp_network_name }}</name>
  <forward mode='nat'/>
  <bridge name='br-{{ ocp_network_name }}' stp='on' delay='0'/>
  <domain name='{{ clustername }}.{{ basedomain }}' localOnly='yes'/>
  <dns enable='yes'/>
  <ip address='192.168.123.1' netmask='255.255.255.0'>
    <dhcp>
      <range start='192.168.123.100' end='192.168.123.250'/>
    </dhcp>
  </ip>
</network>
