apiVersion: local.storage.openshift.io/v1alpha1
kind: LocalVolumeSet
metadata:
  name: lso-volumeset
  namespace: openshift-local-storage
spec:
  deviceInclusionSpec:
    deviceTypes:
    - disk
    - part
    minSize: 1Gi
  tolerations:
  - operator: "Exists"
  nodeSelector:
    nodeSelectorTerms:
    - matchExpressions:
      - key: kubernetes.io/hostname
        operator: In
        values:
        - {{ clustername }}-master-0.{{ basedomain }}
        - {{ clustername }}-master-1.{{ basedomain }}
        - {{ clustername }}-master-2.{{ basedomain }}
  storageClassName: lso-volumeset
  maxDeviceCount: 1
  volumeMode: Block